USE [master]
GO
/****** Object:  Database [BasicStandardsDB]    Script Date: 7/18/2024 12:38:06 PM ******/
CREATE DATABASE [BasicStandardsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BasicStandardsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BasicStandardsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BasicStandardsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BasicStandardsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BasicStandardsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BasicStandardsDB]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 7/18/2024 12:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 7/18/2024 12:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 7/18/2024 12:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 7/18/2024 12:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 7/18/2024 12:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 7/18/2024 12:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 7/18/2024 12:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 7/18/2024 12:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](5) NULL,
	[Name] [nvarchar](50) NULL,
	[NameAr] [nvarchar](50) NULL,
	[GovernorateId] [int] NOT NULL,
	[Latitude] [decimal](18, 8) NULL,
	[Longtitude] [decimal](18, 8) NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 7/18/2024 12:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](5) NULL,
	[Name] [nvarchar](100) NULL,
	[Position] [nvarchar](100) NULL,
	[Email] [nvarchar](320) NULL,
	[Address] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Governorates]    Script Date: 7/18/2024 12:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Governorates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](5) NULL,
	[Name] [nvarchar](50) NULL,
	[NameAr] [nvarchar](50) NULL,
	[Population] [decimal](18, 3) NULL,
	[Area] [decimal](18, 2) NULL,
	[Latitude] [decimal](18, 8) NULL,
	[Longtitude] [decimal](18, 8) NULL,
	[Logo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Governorates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospitals]    Script Date: 7/18/2024 12:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospitals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](5) NULL,
	[Name] [nvarchar](50) NULL,
	[NameAr] [nvarchar](50) NULL,
	[Email] [nvarchar](320) NULL,
	[Mobile] [nvarchar](20) NULL,
	[ManagerName] [nvarchar](50) NULL,
	[ManagerNameAr] [nvarchar](50) NULL,
	[Latitude] [decimal](18, 2) NULL,
	[Longtitude] [decimal](18, 2) NULL,
	[Address] [nvarchar](max) NULL,
	[AddressAr] [nvarchar](max) NULL,
	[ContractName] [nvarchar](max) NULL,
	[ContractStart] [datetime2](7) NULL,
	[ContractEnd] [datetime2](7) NULL,
	[GovernorateId] [int] NULL,
	[CityId] [int] NULL,
	[OrganizationId] [int] NULL,
	[SubOrganizationId] [int] NULL,
 CONSTRAINT [PK_Hospitals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MainStandards]    Script Date: 7/18/2024 12:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainStandards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[TitleAr] [nvarchar](100) NULL,
	[Code] [nvarchar](3) NULL,
 CONSTRAINT [PK_MainStandards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 7/18/2024 12:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[HospitalId] [int] NOT NULL,
	[ReportDate] [datetime] NOT NULL,
	[ReportTakerId] [int] NULL,
	[SubstandardId] [int] NOT NULL,
	[ResultValue] [nvarchar](max) NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_Results] PRIMARY KEY CLUSTERED 
(
	[HospitalId] ASC,
	[ReportDate] ASC,
	[SubstandardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultTypes]    Script Date: 7/18/2024 12:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[NameAr] [nvarchar](max) NULL,
 CONSTRAINT [PK_ResultTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 7/18/2024 12:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KeyName] [nvarchar](100) NULL,
	[KeyValue] [nvarchar](100) NULL,
	[KeyValueAr] [nvarchar](100) NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubStandards]    Script Date: 7/18/2024 12:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubStandards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[MainStandardId] [int] NOT NULL,
	[Code] [nvarchar](3) NULL,
	[DescriptionAr] [nvarchar](max) NULL,
	[ResultTypeId] [int] NOT NULL,
 CONSTRAINT [PK_SubStandards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [Code], [Name], [NameAr], [GovernorateId], [Latitude], [Longtitude]) VALUES (1, N'001', N'Cairo', N'القاهره', 1, CAST(30.06263000 AS Decimal(18, 8)), CAST(31.24967000 AS Decimal(18, 8)))
INSERT [dbo].[Cities] ([Id], [Code], [Name], [NameAr], [GovernorateId], [Latitude], [Longtitude]) VALUES (2, N'002', N'Giza', N'الجيزة', 13, CAST(30.00944000 AS Decimal(18, 8)), CAST(31.20861000 AS Decimal(18, 8)))
INSERT [dbo].[Cities] ([Id], [Code], [Name], [NameAr], [GovernorateId], [Latitude], [Longtitude]) VALUES (3, N'003', N'Sixth of October', N'السادس من أكتوبر', 13, CAST(29.92850000 AS Decimal(18, 8)), CAST(30.91880000 AS Decimal(18, 8)))
GO
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Code], [Name], [Position], [Email], [Address], [PhoneNumber]) VALUES (1, N'00001', N'Mohamed Ali', N'Psychiatrist', N'MohamedAli@gmail.com', N'Cairo, Egypt', N'01012345678')
INSERT [dbo].[Employees] ([Id], [Code], [Name], [Position], [Email], [Address], [PhoneNumber]) VALUES (2, N'00002', N'Nawal Mabrouk', N'Anesthesiologists', N'NawalMabrouk@gmail.com', N'Almnoufia, Egypt', N'01198765432')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Governorates] ON 

INSERT [dbo].[Governorates] ([Id], [Code], [Name], [NameAr], [Population], [Area], [Latitude], [Longtitude], [Logo]) VALUES (1, N'001', N'Cairo', N'القاهرة', CAST(9504025.000 AS Decimal(18, 3)), CAST(214.00 AS Decimal(18, 2)), CAST(30.06263000 AS Decimal(18, 8)), CAST(31.24967000 AS Decimal(18, 8)), N'Cairo.jpg')
INSERT [dbo].[Governorates] ([Id], [Code], [Name], [NameAr], [Population], [Area], [Latitude], [Longtitude], [Logo]) VALUES (2, N'003', N'Alexandria', N'الأسكندرية', CAST(4936913.000 AS Decimal(18, 3)), CAST(2818.00 AS Decimal(18, 2)), CAST(31.20176000 AS Decimal(18, 8)), CAST(29.91582000 AS Decimal(18, 8)), N'Alexandria.jpg')
INSERT [dbo].[Governorates] ([Id], [Code], [Name], [NameAr], [Population], [Area], [Latitude], [Longtitude], [Logo]) VALUES (3, N'014', N'Suez', N'السويس', CAST(642329.000 AS Decimal(18, 3)), CAST(25400.00 AS Decimal(18, 2)), CAST(29.97371000 AS Decimal(18, 8)), CAST(32.52627000 AS Decimal(18, 8)), N'Suez.jpg')
SET IDENTITY_INSERT [dbo].[Governorates] OFF
GO
SET IDENTITY_INSERT [dbo].[Hospitals] ON 

INSERT [dbo].[Hospitals] ([Id], [Code], [Name], [NameAr], [Email], [Mobile], [ManagerName], [ManagerNameAr], [Latitude], [Longtitude], [Address], [AddressAr], [ContractName], [ContractStart], [ContractEnd], [GovernorateId], [CityId], [OrganizationId], [SubOrganizationId]) VALUES (1, N'00001', N'Mansheyet El-Bakry General Hospital', N'مستشفى منشيه البكرى العام', NULL, NULL, NULL, NULL, CAST(30.09 AS Decimal(18, 2)), CAST(31.31 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, NULL, 1, 1, 1, 5)
INSERT [dbo].[Hospitals] ([Id], [Code], [Name], [NameAr], [Email], [Mobile], [ManagerName], [ManagerNameAr], [Latitude], [Longtitude], [Address], [AddressAr], [ContractName], [ContractStart], [ContractEnd], [GovernorateId], [CityId], [OrganizationId], [SubOrganizationId]) VALUES (2, N'00002', N'Al Khazandara General Hospital', N'مستشفى الخازنداره العام', NULL, NULL, NULL, NULL, CAST(30.08 AS Decimal(18, 2)), CAST(31.24 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, NULL, 1, NULL, 1, 5)
INSERT [dbo].[Hospitals] ([Id], [Code], [Name], [NameAr], [Email], [Mobile], [ManagerName], [ManagerNameAr], [Latitude], [Longtitude], [Address], [AddressAr], [ContractName], [ContractStart], [ContractEnd], [GovernorateId], [CityId], [OrganizationId], [SubOrganizationId]) VALUES (3, N'00003', N'Rod Al-Farag General Hospital', N'مستشفى روض الفرج العام', NULL, NULL, NULL, NULL, CAST(30.07 AS Decimal(18, 2)), CAST(31.23 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, NULL, 1, NULL, 1, 5)
GO
SET IDENTITY_INSERT [dbo].[Hospitals] OFF
GO
SET IDENTITY_INSERT [dbo].[MainStandards] ON 

INSERT [dbo].[MainStandards] ([Id], [Title], [TitleAr], [Code]) VALUES (8, N'Infrastructur', N'البنية التحتية', N'001')
INSERT [dbo].[MainStandards] ([Id], [Title], [TitleAr], [Code]) VALUES (1027, N'Radiation protection', N'الوقاية من الإشعاع', N'002')
INSERT [dbo].[MainStandards] ([Id], [Title], [TitleAr], [Code]) VALUES (1045, N'x-rays', N'أجهزة الأشعة', N'003')
SET IDENTITY_INSERT [dbo].[MainStandards] OFF
GO
INSERT [dbo].[Results] ([HospitalId], [ReportDate], [ReportTakerId], [SubstandardId], [ResultValue], [Comment]) VALUES (4, CAST(N'2024-07-16T10:31:00.000' AS DateTime), 2, 1026, N'True', NULL)
INSERT [dbo].[Results] ([HospitalId], [ReportDate], [ReportTakerId], [SubstandardId], [ResultValue], [Comment]) VALUES (15, CAST(N'2024-07-16T12:21:51.143' AS DateTime), 1, 1044, N'in first floor', NULL)
INSERT [dbo].[Results] ([HospitalId], [ReportDate], [ReportTakerId], [SubstandardId], [ResultValue], [Comment]) VALUES (17, CAST(N'2024-04-13T00:00:00.000' AS DateTime), 1, 1045, N'30', NULL)
GO
SET IDENTITY_INSERT [dbo].[ResultTypes] ON 

INSERT [dbo].[ResultTypes] ([Id], [Name], [NameAr]) VALUES (1, N'T or F', N'صح ام خطأ')
INSERT [dbo].[ResultTypes] ([Id], [Name], [NameAr]) VALUES (2, N'Persentage', N'نسبة مئوية')
INSERT [dbo].[ResultTypes] ([Id], [Name], [NameAr]) VALUES (3, N'Text', N'نص')
SET IDENTITY_INSERT [dbo].[ResultTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Settings] ON 

INSERT [dbo].[Settings] ([Id], [KeyName], [KeyValue], [KeyValueAr]) VALUES (1, N'Logo', N'Logo.jpeg', N'Logo.jpeg')
INSERT [dbo].[Settings] ([Id], [KeyName], [KeyValue], [KeyValueAr]) VALUES (2, N'LogoTitle', N'General Department of Radiology', N'الإدارة العامة للأشعة')
SET IDENTITY_INSERT [dbo].[Settings] OFF
GO
SET IDENTITY_INSERT [dbo].[SubStandards] ON 

INSERT [dbo].[SubStandards] ([Id], [Description], [MainStandardId], [Code], [DescriptionAr], [ResultTypeId]) VALUES (1026, N'The presence of a detailed, sealed statement of the devices in all hospital departments that matches their actual presence according to the hospital’s custody books, including idle devices that have not yet been estimated, maintenance contracts, and performance levels.', 8, N'101', N' وجود بيان مفصل مختوم بالأجهزة في جميع أقسام المستشفى مطابق لتواجدها الفعلي وفقاً لدفاتر العهدة بالمستشفى  يتضمن الأجهزة العاطلة التي لم تكهن بعد وعقود الصيانة ومستوى الأداء ', 1)
INSERT [dbo].[SubStandards] ([Id], [Description], [MainStandardId], [Code], [DescriptionAr], [ResultTypeId]) VALUES (1041, N'Separate room', 8, N'102', N'غرفه منفصله', 2)
INSERT [dbo].[SubStandards] ([Id], [Description], [MainStandardId], [Code], [DescriptionAr], [ResultTypeId]) VALUES (1042, N'ventilation', 8, N'103', N'تهوية', 1)
SET IDENTITY_INSERT [dbo].[SubStandards] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 7/18/2024 12:38:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 7/18/2024 12:38:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 7/18/2024 12:38:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 7/18/2024 12:38:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 7/18/2024 12:38:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 7/18/2024 12:38:07 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 7/18/2024 12:38:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubStandards_MainStandardId]    Script Date: 7/18/2024 12:38:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubStandards_MainStandardId] ON [dbo].[SubStandards]
(
	[MainStandardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubStandards_ResultTypeId]    Script Date: 7/18/2024 12:38:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubStandards_ResultTypeId] ON [dbo].[SubStandards]
(
	[ResultTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SubStandards] ADD  DEFAULT ((0)) FOR [ResultTypeId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Governorates_GovernorateId] FOREIGN KEY([GovernorateId])
REFERENCES [dbo].[Governorates] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Governorates_GovernorateId]
GO
ALTER TABLE [dbo].[Hospitals]  WITH CHECK ADD  CONSTRAINT [FK_Hospitals_Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Hospitals] CHECK CONSTRAINT [FK_Hospitals_Cities_CityId]
GO
ALTER TABLE [dbo].[Hospitals]  WITH CHECK ADD  CONSTRAINT [FK_Hospitals_Governorates_GovernorateId] FOREIGN KEY([GovernorateId])
REFERENCES [dbo].[Governorates] ([Id])
GO
ALTER TABLE [dbo].[Hospitals] CHECK CONSTRAINT [FK_Hospitals_Governorates_GovernorateId]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_Employees] FOREIGN KEY([ReportTakerId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_Employees]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_Hospitals] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_Hospitals]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_SubStandards] FOREIGN KEY([SubstandardId])
REFERENCES [dbo].[SubStandards] ([Id])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_SubStandards]
GO
ALTER TABLE [dbo].[SubStandards]  WITH CHECK ADD  CONSTRAINT [FK_SubStandards_MainStandards_MainStandardId] FOREIGN KEY([MainStandardId])
REFERENCES [dbo].[MainStandards] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubStandards] CHECK CONSTRAINT [FK_SubStandards_MainStandards_MainStandardId]
GO
ALTER TABLE [dbo].[SubStandards]  WITH CHECK ADD  CONSTRAINT [FK_SubStandards_ResultTypes_ResultTypeId] FOREIGN KEY([ResultTypeId])
REFERENCES [dbo].[ResultTypes] ([Id])
GO
ALTER TABLE [dbo].[SubStandards] CHECK CONSTRAINT [FK_SubStandards_ResultTypes_ResultTypeId]
GO
USE [master]
GO
